@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


 *{
    font-family: "Roboto", sans-serif;
 }
.muadibi{
    text-align: center;
    align-items: center;
    

}
.cor{
    background: rgb(255, 255, 255);
}
.cordoemail{
    color: white;
    padding-right: 25px;
    margin-bottom: -0.5px;
}

    
    


.butão{
    align-items: center;
    margin-top: 25px;
    background-color: #2FB23C;
    border-radius: 10px;
    width: 105px;
    height: 50px;
    color: wheat;

    
    
}

.box{
    border-radius: 5px;
    background-color: gray;
    width:180px;
    height: 40px;
    margin: auto;
}
.foto{
    margin-bottom: -50px;
}

.seuresultado{
    color: red;
}


